<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <meta charset="utf-8">
</head>

<body>
  {{> header}}
<br  /><br />
  <a href="https://github.com/darthbrumbledore/node-course-webserver">Node Course Web Server</a>

  {{> footer}}
</body>

</html>
